

.wtf {
position:absolute;
width:770px;
margin-left:-385px;
left:50%;
top:0px;
}

a:link { text-decoration: none; color:#000000; }
a:visited { text-decoration:none; font-weight:normal; color:#000000; }
a:hover { text-decoration:none; font-weight:normal; background-color:#aaa; }
a:active { text-decoration:none; font-weight:normal; background-color: #fff; }
a:focus { text-decoration:none; font-weight:normal; background-color: #fff; }

body {
    font-family: monospace;
    background-color: #fff;
    margin: 1em;
}

p4 {color: #000;position:fixed;               right: 50px; bottom: 12px;
    color: #000; 
    font-size: 14px;
    font-family:monospace} /* beschreibung */


#fancy-navigation {
  height: 32em;
  position: relative;
}

.barcode, #previews {
  /* für die zentrierung vertikal*/
  width: 350px;
  margin: 0 auto;
}

#previews {
  height: 16em;
  overflow-y: hidden;
  margin-bottom: 1em;
}

#previews div {
  display: none;
}

#previews div.show {
  display: block;
}

.barcode {
    font-size: 40px;
    line-height: 40px;
}

.barcode div {
    height: 3em;
    float: left;
}
.barcode .b {
    background: black;
}
.barcode .w {
    background: white;
}
.barcode .s1 {
    width: 2px;
}
.barcode .s2 {
    width: 4px;
}
.barcode .s3 {
    width: 6px;
}
.barcode .s4 {
    width: 8px;
}
.barcode a:hover div.w,
.barcode a:hover div.b {
    background: #aaa;
}
